.navigator {
	background: white;
	display: flex;
	position: fixed;
	z-index: 5;

	.navigator-box {
		flex: 1;
		display: flex;
		justify-content: center;
	}

	.navigator-box:first-child > * {
		margin-right: auto;
	}

	.navigator-box:last-child > * {
		margin-left: auto;
	}
}

.navigator-link {
	transition: 0.5s;
	color: lightgray;

	&:hover {
		color: lightslategray;
	}

	&.selected {
		color: #e3163d;
	}
}

.navigator-icon {
	transition: 0.5s;
	filter: grayscale(100%) brightness(275%);

	&:hover {
		filter: none;
	}
}
