.home
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 125px;
    width: 1652px;
    height: 690px;
}

.home-left
{
    margin-top: 225px;
    margin-bottom: 225px;
    width: 826px;
    height: 240px;
}

.home-heading
{
    color: white;
    font-size: 35px;
    margin-right: 550px;
    width: 700px;
    height: 88px;
}

.home-paragraph   
{
    color: white;
    font-size: 17px;
    margin-right: 225px;  
    width: 600px;
    height: 43px;
}

.home-right
{
    position: relative;
    width: 826px;
    height: 690px;
}